$primary: #39bcf9;
$secondary: #f7f9fa;

$black: #000000;
$bg-primary: #21222d;
$bg-secondary: #171821;
$white: #fff;
$lightBlue: #21222d;
$darkBlue: #171821;

$font-family: 'Inter', sans-serif;

$drawer-width: 18rem;
