$primary: #1fcb4f;
$secondary: #f7f9fa;

$black: #000000;

$bg-main: #111317;
$bg-primary: #282c35;
$bg-secondary: #1a1c22;
$bg-tertiary: #282c35;
$white: #fff;
$lightBlue: #21222d;
$darkBlue: #171821;

$font-family: 'Inter', sans-serif;

$drawer-width: 18rem;
